{% load static %}

<section id="snippet-8" class="wrapper bg-light wrapper-border">
    <div class="container pt-15 pt-md-17 pb-13 pb-md-15">
      <div class="row text-center">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <h3 class="display-3 mb-9 px-xl-11">Skills  &  Expirience</h3>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
      <div class="row gx-lg-8 gx-xl-12 gy-8">
        <div class="col-md-6 col-lg-4">
          <div class="d-flex flex-row">
            <div>
              <img src="{% static 'assets/img/ubuntu.png' %}" class="icon-svg icon-svg-sm text-aqua me-4" alt="">
            </div>
            <div>
              <h4 class="mb-1">Python Programming Language</h4>
              <p class="mb-0">Python Core <br>
                Python OOP Programming <br>
                Algorithms & Data Structure</p>
            </div>
          </div>
        </div>
        <!--/column -->
        <div class="col-md-6 col-lg-4">
          <div class="d-flex flex-row">
            <div>
              <img src="{% static 'assets/img/dj.png' %}" class="icon-svg icon-svg-sm text-yellow me-4" alt="">
            </div>
            <div>
              <h4 class="mb-1">Django Full-Stack Developing</h4>
              <p class="mb-0">Django Framework <br>
                Django Rest Framework
              </p>
            </div>
          </div>
        </div>
        <!--/column -->
        <div class="col-md-6 col-lg-4">
          <div class="d-flex flex-row">
            <div>
              <img src="{% static 'assets/img/tgr.png' %}" class="icon-svg icon-svg-sm text-red me-4" alt="">
            </div>
            <div>
              <h4 class="mb-1">Telegram Bot Api</h4>
              <p class="mb-0">PyTelegramBot Api <br>
                Aiogram Asyncio</p>
            </div>
          </div>
        </div>
        <!--/column -->
        <div class="col-md-6 col-lg-4">
          <div class="d-flex flex-row">
            <div>
              <img src="{% static 'assets/img/dte.png' %}" class="icon-svg icon-svg-sm text-pink me-4" alt="">
            </div>
            <div>
              <h4 class="mb-1">DB Programming Language</h4>
              <p class="mb-0">SQLite3 <br>
                PostgreSQL <br>
              </p>
            </div>
          </div>
        </div>
        <!--/column -->
        <div class="col-md-6 col-lg-4">
          <div class="d-flex flex-row">
            <div>
              <img src="{% static 'assets/img/html.png' %}" class="icon-svg icon-svg-sm text-green me-4" alt="">
            </div>
            <div>
              <h4 class="mb-1">Frontend Developing</h4>
              <p class="mb-0">HTML5 & CSS3 <br>
                Bootstrap
              </p>
            </div>
          </div>
        </div>
        <!--/column -->
        <div class="col-md-6 col-lg-4">
          <div class="d-flex flex-row">
            <div>
              <img src="{% static 'assets/img/linux.png' %}" class="icon-svg icon-svg-sm text-purple me-4" alt="">
            </div>
            <div>
              <h4 class="mb-1">Linux servers & Heroku Deployment</h4>
              <p class="mb-0">Heroku Cloud Application Platform <br>
                GitHub Platform
              </p>
            </div>
          </div>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->   
  </section>