{% load static %}

{% load static %}

<div class="container pt-15 pt-md-17 pb-13 pb-md-15">
    <div class="row gx-lg-0 gy-10 align-items-center">
      <div class="col-lg-6">
        <div class="row g-6 text-center">
          <div class="col-md-6">
            <div class="row">
              <div class="lg-12">
                <figure class="rounded mb-6"><img src="{% static 'assets/img/11.svg' %} " alt=""></figure>
              </div>
              <!-- /column -->
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="icon btn btn-circle btn-lg btn-soft-purple disabled mb-3"><i class="fa-brands fa-github-alt"></i> </div>
                    <h4>GitHub Platform</h4>
                    <p class="mb-2">GitHub is a website and cloud-based service that helps developers store and manage their code, as well as track and control changes to their code.</p>
                    <a href="http://github.com" class="more hover link-purple">Learn More</a>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /column -->
          <div class="col-md-6">
            <div class="row">
              <div class="col-lg-12 order-md-2">
                <figure class="rounded mb-6 mb-md-0"><img src="{% static 'assets/img/15.png' %}" srcset="{% static 'assets/img/photos/se2@2x.jpg' %} 2x" alt=""></figure>
              </div>
              <!-- /column -->
              <div class="col-lg-12">
                <div class="card mb-md-6 mt-lg-6">
                  <div class="card-body">
                    <div class="icon btn btn-circle btn-lg btn-soft-purple disabled mb-3"> <i class="fa-brands fa-hackerrank"></i>`</i> </div>
                    <h4>Heroku Platform</h4>
                    <p class="mb-2">Heroku is a cloud platform as a service (PaaS) supporting several programming languages.</p>
                    <a href="http://heroku.com" class="more hover link-purple">Learn More</a>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
      <div class="col-lg-5 offset-lg-1">
        <h2 class="display-4 mb-3">What is Python</h2>
        <p class="lead fs-lg">
          Python is a high-level, general-purpose programming language for a variety of industries. 
          Its language constructs and object-oriented approach are designed to help programmers write clear, 
          logical code for small and large projects.
          Python can run on almost all platforms,
          Guido van Rossum began working on Python in the late 1980s as a successor to the 
          ABC programming language, and first released Python 0.9.0 in 1991.
        </p>
        <a href="features.html#" class="btn btn-purple rounded-pill mt-3">More Details</a>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
