{% load static %}
  
<footer class="bg-soft-primary">
  <br>
  <br>
  
  <div class="container pb-12 text-center" style="padding-top: 30px;">
    <div class="row mt-n10 mt-lg-0">
      <div class="col-xl-10 mx-auto">
        <div class="row mb-3">
          <div class="col-md-4">
            <div class="widget">
              <h4 class="widget-title">Address</h4>
              <address>Saxovat MFY san'at St. 16-uy <br class="d-none d-md-block"> Olimbek City, Andijon, Uzbekistan</address>
            </div>
            <!-- /.widget -->
          </div>
          <!--/column -->
          <div class="col-md-4">
            <div class="widget">
              <h4 class="widget-title">Phone</h4>
              <p>+998 (94) 059 37 33 <br>+998 (93) 607 37 33</p>
            </div>
            <!-- /.widget -->
          </div>
          <!--/column -->
          <div class="col-md-4">
            <div class="widget">
              <h4 class="widget-title">E-mail</h4>
              <p><a href="#" class="link-body">player2020uz@gmail.com</a> <br class="d-none d-md-block"><a href="#" class="link-body">player2000uz@gmail.com</a></p>
            </div>
            <!-- /.widget -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
        <p>© 2022 Xalimov. All rights reserved.</p>
        <nav class="nav social justify-content-center">
          <a href="https://github.com/django-dev-uz"><i class="uil uil-github"></i></a>
          <a href="https://t.me/BackendEngineerJr"><i class="uil uil-telegram"></i></a>
          <a href="https://www.linkedin.com/in/xalimov-abdulla-aa0714231"><i class="uil uil-linkedin"></i></a>
          <a href="https://www.youtube.com/channel/UCLgk5XVbPaeNY67cAD-ex7A"><i class="uil uil-youtube"></i></a>
        </nav>
        <!-- /.social -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</footer>