
{% load static %}

<!-- header--> 
<header class="wrapper bg-soft-primary">
    <!-- /.alert -->
    <nav class="navbar navbar-expand-lg center-nav transparent navbar-light">
      <div class="container flex-lg-row flex-nowrap align-items-center">
        <div class="navbar-brand w-100">
          <a href="{% url 'home' %}">
            <img src="{% static 'python-icon.png' %}" srcset="{% static 'python-icon.png' %} 2x" style="height: 100px; padding-left: 70px; margin: 0;"/>
          </a>
        </div>
        <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
          <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'project' %}" >Projects</a>
                <div class="dropdown-menu dropdown-lg">
                  <div class="dropdown-lg-content">
                    <div>
                      <a class="dropdown-header" href="{% url 'project' %}">Web aplicatons</a>
                      
                    </div>
                    <!-- /.column -->
                    <div>
                      <a class="dropdown-header" href="#">Bot aplication</a>
                      <ul class="list-unstyled">
                        
                    </div>
                    <!-- /.column -->
                  </div>
                  <!-- /auto-column -->
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="https://t.me/s/Django_2022">Blog</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'contact' %}" >Contact</a><li class="nav-item dropdown">
                </li>
              </li>
   
            <!-- /.navbar-nav -->
            <!-- /.offcanvas-footer -->
          </div>
          <!-- /.offcanvas-body -->
        </div>
        <!-- /.navbar-collapse -->
        <div class="navbar-other w-100 d-flex ms-auto">
          <ul class="navbar-nav flex-row align-items-center ms-auto">
            <li class="nav-item d-lg-none">
              <button class="hamburger offcanvas-nav-btn"><span></span></button>
            </li>
          </ul>
          <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar-other -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.navbar -->
  </header>
  <!-- /header -->