
{% load static %}
<!-- header--> 
<header class="wrapper bg-soft-primary">
    <!-- /.alert -->
    <nav class="navbar navbar-expand-lg center-nav transparent navbar-light">
      <div class="container flex-lg-row flex-nowrap align-items-right">
        
        
        <div class="navbar-brand w-100">
          
        </div>
        
        <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
          <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
            <ul class="navbar-nav" style="text-align: right;">

              <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'home' %}" onclick="nextPage()">Home</a>
              </li> 
              <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'about' %}" onclick="nextPage()">About</a>
              </li>     
              <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'project' %}" onclick="nextPage()">Projects</a>
                <!-- <div class="dropdown-menu dropdown-lg">
                  <div class="dropdown-lg-content">
                    <div>
                      <a class="dropdown-header" href="{% url 'project' %}">Web aplicatons</a>
                      
                    </div>
                  
                    <div>
                      <a class="dropdown-header" href="#">Bot aplication</a>
                      <ul class="list-unstyled">
                    </div>
                 
                  </div>
                  
                </div> -->
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="https://t.me/s/Django_2022" onclick="nextPage()">Blog</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'contact' %}" onclick="nextPage()">Contact</a><li class="nav-item dropdown">
                </li>
              </li>
   
            </ul>
          </div>
          <!-- /.offcanvas-body -->
        </div>
        <!-- /.navbar-collapse -->
        <div class="navbar-other w-100 d-flex ms-auto">
          <ul class="navbar-nav flex-row align-items-center ms-auto">
            <li class="nav-item d-lg-none">
              <button class="hamburger offcanvas-nav-btn"><span></span></button>
            </li>
          </ul>
          <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar-other -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.navbar -->
  </header>
  <!-- /header -->
  {% comment %} <script scr="../assets/js/script.js"></script> {% endcomment %}